.main {
	padding: 1rem;
	margin: auto;
	max-width: 1300px;
	width: 100%;
}

.flag {
	width: 50px;
}

.stats {
	padding: 1rem;
}

.country-search {
	padding: 3rem;
	max-width: 800px;
	margin: auto;
}

.country-search__inputs {
	display: flex;
}

.country-search__input-label {
	font-size: 2rem;
}


.country-search .country-search__search-box {
	margin-right: 0.2rem;
}

#results td:nth-child(2) {
	max-width: 250px;
}
